<app-header></app-header>
<p>venta works!</p>
<p>venta works!</p>



<h2>Nuevo registro de precios de venta</h2>
<form #pc="ngForm" (ngSubmit)="agregarNuevoPrecioVenta(pc)">
  <div style="display: flex">
    <div class="form-group name2 col-md-2">
      <label for="Precio">Precio</label>
      <input type="number" class="form-control" placeholder="120" [(ngModel)]="nuevaVenta.precio" name="precio"
        #nombre="ngModel" min="10" max="2147483640" required>
    </div>
    <div class="form-group name3 col-md-6">
      <label for="Producto">Producto</label>
      <div class="example-full-width">
        <select (change)="guarda()" matNativeControl required name="producto" [(ngModel)]="nuevaVenta.producto"
          #nombre="ngModel">
          <option value="-1" disabled>Productos:</option>
          <option *ngFor="let producto of productos" [ngValue]="producto">
            {{ producto.nombreProducto }}
          </option>
        </select>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Agregar registro</button>
    </div>
  </div>
</form>



<h2> Registros de precios de venta </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id </th>
      <th>Cantidad </th>
      <th>Precio </th>
      <th>Fecha venta </th>
      <th>Producto </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let venta of preciosVenta.reverse()">
      <td> {{ venta.id }} </td>
      <td> {{ venta.cantidad }} </td>
      <td> {{ venta.precio }} </td>
      <td> {{ venta.fechaVenta | date:'short'}} </td>
      <td> {{ venta.producto.nombreProducto }} </td>
    </tr>
  </tbody>
</table>