<app-header></app-header>
<p>compra works!</p>



<table class = "table table-striped">
    <div>
    </div>
    <div class="col-9">
        <div class="example-full-width">
          <select (change)="guarda()" matNativeControl required name="managementId" 
         [(ngModel)]="productoElegido">
            <option value="-1" disabled>Productos:</option>
            <option *ngFor="let producto of productos" [ngValue]="producto">
              {{ producto.nombreProducto }}
            </option>
          </select>
        </div>
    </div>
</table>


<h2>  Lista de usuarios </h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Id </th>
            <th>Precio  </th>
            <th>Cantidad </th>
            <th>FechaCompra </th>
            <th>Producto </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let compra of preciosCompra.reverse()" >
            <td> {{ compra.id }} </td>
            <td> {{ compra.precio }} </td>
            <td> {{ compra.cantidad }} </td>
            <td> {{ compra.fechaCompra | date:'short' }} </td>
            <td> {{ compra.producto.nombreProducto }} </td>
            <!-- <td>
                <button (click) = "modificar(usuario.id)" class = "btn btn-info"> Modificar</button>
            </td> -->
        </tr>
    </tbody>
</table>